:root {
    --grey: rgb(70, 70, 70);
    --blue: rgb(0, 101, 173);
    --light-blue: rgba(92, 250, 250, 0.827);
    --white: rgba(255, 255, 255, 0.877);
    --vertical-bar: border-right: var(--blue) solid 2px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--blue)
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
}

h1 {
    padding: 10px 5px 10px 50px;
    margin: 10px 5px 10px 0px;
    background-color: var(--light-blue);
    color: var(--grey);
    display: grid;
    grid-column-start: 0;
    min-width: 200px;
    max-width: 200px;
}

nav {
    position: relative;
    top: 2rem;
}

a {
    color: var(--light-blue);
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 3px;
}

a:hover {
    color: var(--white)
}

a:active {
    color: var(--blue)
}

section {
    display: block;
    flex-wrap: wrap;
    min-width: 200px;
    max-width: 1000px;
    position: relative;
    left: 2rem;
    border: solid var(--light-blue);
    margin: 0.5rem
}

aside {
    display: flex;
    border-right: solid 3px var(--blue);
    max-width: fit-content;
    padding: 5px;
    margin-left: 30px;
}

img {
    width: 100%;
    height: 100%;
    opacity: 70%;
}

img:hover {
    opacity: 100%;
}

.card {
    position: relative;
}

.img-label {
    position: absolute;
    left: 8px;
    bottom: 16px;
    background-color: var(--light-blue);
    width: 20rem;
    padding: 10px;
}

.overlay {
    font-size: 180%;
    margin: -4px;
}
.header-links {
    grid-column-start: 6;
    grid-column-end: 9;
    align-items: center;
    justify-content: center;
}

/* add media queries here to make it break at small smartphones  */